.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    display: flex; flex-direction: column;
    align-items: center;justify-content: center;
    .modal-window{
        width: 700px;
        padding: 20px 0;
        background-color: #fff;
        position: relative;

        .clear-cart{
            color: black;
            font-size: 25px;
            display: block;
            text-align: right;
            margin-right: 50px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        &-close{
            position: absolute;
            top: -27px;
            right: -27px;
            width: 25px;
            height: 25px;
            display: flex;
            background: red;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            cursor: pointer;
        }
        .cart-wrapper{
            margin: 0 auto;
            max-width: 600px;
            .cart-item{
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 7px 0;


                &-title,&-author,&-price, &-count{
                    flex: 1;
                }
                &-price{
                    max-width: 50px;
                }
                &-count{
                    max-width: 120px;
                    text-align: center;
                }
            }
        }
        
    }
}